


.App {
  text-align: center;
}

@media (min-width: 768px) {
  .navbar {
    margin: 0;
    height: 40px;
  }
}


.navbar > .container {
  margin-top: 0rem;
}

.navbar-right {
  margin-top: 14px;
}

.navbar-right > a {
  margin-right: auto;
  display: inline;
  padding: 1.6rem;
  padding-top: 1rem;
  line-height: 20px;
  text-decoration: none;
  color: #4A4A4A;
}

.navbar-right > a > .active {
  font-weight: 400;
}

.navbar-default > .navbar-brand {
  color: #93C4D7;
}

.navbar-brand {
  height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
}



.hero {
  background-image: url(./assets/runner_hero@2x.png);
  background-size: cover;
  color: #4f4f4f;
  padding-bottom: 30rem;
  padding-top: 16px;
  margin-top: 16px;
  height: 620px;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .hero {
    width: 100%;
    padding-bottom: 5rem;
    background-size: cover;
    background-position: center;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .hero{
    height: 620px;
  }
}

.hero-heading {
  padding-top: 1rem;
  text-align: left;
}
.subhead{
  text-align: justify;
}







@media (min-width: 750px){
.section-description {
    max-width: 72%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
}

@media (min-width: 750px){
.section-heading {
  text-align: left;
  max-width:72%;
  margin-left: auto;
  margin-right: auto;
  }
}
.mission {

}

.natural-movement {

}

.columns{
  background-color: inherit;
}

.mainroom{
  background-image: url(./assets/mainroom.jpg)
}

.book-today {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 20rem;
}

.coverimage {
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  background: url('./assets/muscle_butter_170210_153.jpg');
  background-size: cover;

}



@media (min-width: 750px){
.alexheader {
  text-align: left;
  max-width:72%;
  margin-left: auto;
  margin-right: auto;
  }
}

.shadow {
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
}

#hline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0;
  margin-top: 3em;
}

#footer {
  padding-top: 1em;
  border-top: 2px;
  height: $footer-height;
  background-color: white;
  font-size: $small-font-size;
  transparentize: ($text-color, .4);
}


.musclequote {
margin-top: 9rem;
text-align: left;

}

.tableheader {
  line-height: 1;
  margin-bottom: 1rem;
}
