
.App {
  text-align: center;
}


.jumbotron {
  margin-top: 50px;
  background: url('./assets/runner_hero@2x.png') no-repeat;
  background-size: contain;
  height: 800px;
}



.jumbotron h1 {
  width: 400px;
  font-family: 'Caveat', cursive;
}


.navbar.brand{
  background-image: url('./assets/Musclebutter_144x144@2x.png');
}


button.btn.btn-primary {
  background: transparent;
  color: #4A4A4A;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  width: 170px;
  height: 50px;
  border-color: #93C4D7;
  border-width: 2px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
